/* General styles */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');
@font-face {
    font-family: 'Junk Robo';
    src: url('j-junk-robo-font/JunkRobo-z8vzX.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto+Serif+SC', sans-serif;
    background: url('static.gif') center center repeat;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
}

#central-header {
    flex: 1;
    font-family: 'monotype';
    font-size: 93px;
    background: transparent center repeat;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    display: flex; /* Use flexbox to center-align */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}


#content {
    flex: 1;
    background-color: rgba(24, 23, 23, 0.925); /* Set background color with opacity for readability */
    padding: 20px; /* Add padding for spacing */
    margin: 0 auto; /* Center content horizontally */
    max-width: 1200px; /* Limit content width for readability */
}

@media (max-width: 768px) {
    #content {
        padding: 10px; /* Reduce padding for smaller screens */
    }
}

header {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 20px auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    text-align: center;
}

.logo, .main-menu {
    font-family: 'Junk Robo';
    justify-content: center;
    align-items: center;
    background: transparent center center no-repeat;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#category-header {
    flex: 1;
    font-family: 'Junk Robo';
    background: transparent center repeat;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    display: flex; /* Use flexbox to center-align */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.logo {
    line-height: 60px;
    font-size: 36px;
    color: #340f0f;
    font-weight: 700;
    text-decoration: tomato;
    background: transparent url('bkgrnd.png') center center/cover no-repeat;
}

#projects-content {
    display: block;
    margin: 20px auto;
    background-color: rgba(45, 44, 44, 0.2); /* Semitransparent grey background */
    padding: 10px; /* Add padding for better readability */
}


#category-header {
    display: flex; /* Display the  header inline */
    vertical-align: middle;
    font-family: "Courier New";
    line-height: 60px;
    font-size: 20px;
    color: #700606;
    font-weight: 700;
    text-decoration: none;
    padding: 0 20px;
    background: center no-repeat; /* Set background to black with 0.8 opacity */
    text-align: center;
}

nav {
    vertical-align: middle;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #f8f8f8;
    border-color: #700606;
    text-underline-offset: 0.1;
    transition: 0.5s;
}

nav ul li a.active, nav ul li a:hover, .main-menu {
    font-family: "Courier New";
    line-height: 60px;
    font-size: 20px;
    color: #020202;
    border-radius: 0.1px;
    background: url('static.gif') center center/cover no-repeat;
    font-weight: 700;
}

.mean-toggle {
    margin-right: auto;
    border: 3px transparent rgb(0, 255, 0);
    background: url('static.gif');
}

/* Styles for photo gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minimum width of each column as needed */
    gap: 20px; /* Adjust the gap between grid items */
}

.photo {
    position: relative;
    width: 100%; /* Ensure each photo takes up 100% width of its container */
    padding-bottom: 100%; /* Maintain aspect ratio (1:1) */
}

.photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the entire image is visible while maintaining aspect ratio */
    cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.photo-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

/* Style the lightbox */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#lightbox-img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    cursor: pointer; /* Add cursor pointer to indicate clickable */
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer; /* Add cursor pointer to indicate clickable */
}
