{% extends 'base.html' %}
{% block title %}Dock - Gallery{% endblock %}
{% block category %}Gallery{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<div class="photo-gallery">
    <div class="carousel-container">
        <button class="scroll-button left" id="scroll-left">&lt;&lt;</button>
        <div id="carousel" class="carousel">
            {% if photos %}
                {% for photo in photos %}
                    <img src="{{ photo.photo_link }}" alt="{{ photo.photo_text_body }}" class="preview">
                {% endfor %}
                
            {% endif %}
        </div>
        <button class="scroll-button right" id="scroll-right">&gt;&gt;</button>
    </div>
    {% if not photos %}
        <!-- Display a message if the gallery is empty -->
        <div class="carousel-container">
            <div id="carousel-static" class="carousel"> <!-- Added id="carousel-static" -->
                <!-- Static images will be loaded here by JavaScript -->
            </div>
            <button class="scroll-button left" id="scroll-static-left">&lt;&lt;</button>
            <button class="scroll-button right" id="scroll-static-right">&gt;&gt;</button>
        </div>
        <p style="text-decoration: wavy; text-decoration-line: overline; text-align: center; text-shadow: 2px;">...LOADED STATIC...THERE ARE MORE THERE -&gt;&gt;</p>
    {% endif %}
</div>

<div id="lightbox" class="lightbox">
    <button class="lightbox-nav" id="prev-photo">&lt;</button>
    <img id="lightbox-image" src="" alt="">
    <button class="lightbox-nav" id="next-photo">&gt;</button>
    <button class="close" id="close-lightbox">Close</button>
</div>

<!-- Link to the external JavaScript file -->
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>

{% endblock %}
