{% extends 'base.html' %}

{% block title %}Dock - Projects{% endblock %}

{% block category %}Projects{% endblock %}

{% block content %}
    <div class="project-link">
        <ul>
         
            <li>
                <a href="{{ url_for('static', filename='projects/project1.pdf') }}">US army Joint Vision 2020</a>
            </li>
            <li>
                <a href="https://suvacobhikkhu.wordpress.com/meditation-manuals">Meditation Theravada Tradition Manual</a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='projects/weaver_header.html') }}">WEAVE</a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='projects/The_box.html') }}">THE BOX</a>
            </li>
        </ul>
    </div>
    <!-- Add more project links as needed -->
{% endblock %}
